body
{
    background-color: #000000;
    font-family: Lora;
    font-weight: 300;
    font-size: 12px;
}

#bg
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("../img/koln.jpg");
    background-size: cover;
    animation: fade 5s;
}

#noise
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("../img/noise.png");
    background-repeat: repeat;
}

#master
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    animation: fade 15s;
}

#centerpiece
{
    position: relative;
    top: 20%;
    padding: 20px;
    width: 40%;
    height: 350px;

}

#centerpiece a
{
    outline: none;
}

#fleur
{
    position: relative;
    top: 13%;
}

#fleur img
{
    width: 100%;
    max-width: 661px;
}

#text
{
    position: relative;
    top: 20%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

#text p
{
    color: rgba(255, 255, 255, 0.8);
}

@keyframes fade
{
    from {opacity: 0;}
    to   {opacity: 1;}
}
