body
{
    background-color: #000000;
    font-family: Lora;
    font-weight: 300;
    font-size: 12px;
}

#bg
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("../img/koln.jpg");
    background-size: cover;
    animation: fade 10s;
}

#noise
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("../img/noise.png");
    background-repeat: repeat;
    animation: fade 10s;
}

#master
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    animation: fade 15s;
}

#centerpiece
{
    position: relative;
    top: 20%;
    padding: 20px;
    width: 40%;
    height: 350px;
}

a
{
    outline: none;
}

#fleur
{
    position: relative;
    top: 13%;
}

#fleur img
{
    width: 100%;
    max-width: 661px;
}

#text
{
    position: relative;
    top: 20%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.4);
}


.generictext
{
    color: rgba(255, 255, 255, 0.8);
}

#navbar
{
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

#navbar ul
{
    margin: 0;
    padding: 4px;
}

#navbar li
{
    display: inline;
}

#navbar a
{
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    text-decoration: none;
    margin: 10px;
}

#navbar img
{
    width: 24px;
    height: 24px;
}

#resume
{
    position: absolute;
    left: 20px;
}

@keyframes fade
{
    from {opacity: 0;}
    to   {opacity: 1;}
}
