body
{
    background-image: url("../img/noise.png");
    background-color: #F7F7F7;
    font-family: Open Sans;
    font-weight: 300;
    font-size: 12px;
}

a
{
    outline: none;
}

img.fleur
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 661;
    height: 25;
    outline: none;
}

p.lewis
{
    position: relative;
    top: 50%;
    transform: translateY(50%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    word-wrap: break-word;
    animation: fadein 15s;
}

@keyframes fadein {
    from {opacity: 0;}
    to   {opacity: 1;}
}
